


/* Сброс, начальные значения*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'TT Lakes';
    color: #1b1c21;
  }
  
  h1 {
    all: unset;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background-color: #f8f8f8; 
  }
  
  
  /* ========================
     Подключение шрифтов
     ======================== */
  @font-face {
      font-family: 'TT Lakes';
    font-style: normal;
      font-weight: normal;
    src: url(../fonts/TTLakes/TTLakes-Regular.ttf); 
   }
  
   @font-face {
      font-family: 'TT Lakes';
    font-style: normal;
      font-weight: bold;
      src: url(../fonts/TTLakes/TTLakes-Bold.ttf);   
   }
  
   @font-face {
      font-family: 'TT Lakes';
    font-style: italic;
      font-weight: normal;
      src: url(../fonts/TTLakes/TTLakes-Italic.ttf);   
   }
  
  /* ========================
              Шапка
     ======================== */
  
  .hdr-sect {  
    padding: 16px;
    background-color: #fff;
    white-space: normal;     
  }
  
  /* Заголовок (шапка) */
  .hdr-sect__text {
    color: #7E7E82;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  
  /* ========================
      Секция выбора бренда
     ======================== */
  
  .choice-brand-sect {
    padding: 16px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
  }
  
  /* Кнопка выбора бренда */
  .choice-brand-sect__btn {
    min-width: 240px;
    height: 72px; 
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border: 1px solid #ebebeb;    
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }


/* ========================
            Свайпер
  ======================== */

  .swiper {
    height: 132px; 
    /* width: 320px; */
       
  }

  .swiper-wrapper {
      padding: 16px 0px 16px 16px;
      height:fit-content ;
  }

  /* .swiper-wrapper::after {
    content: "";
    position: absolute;
    left: auto;
    width: 300px;
    height: 72px;
    background-color: aqua;
    /* left: 200px;
  } */


  .swiper-slide {
      width: auto;
      min-width: 240px;
  }

  .its-slide {
    /* display:flex; */
    /* padding: 10px; */
    background-color: brown;  
  }

  

  .swiper-pagination {
    
  }



.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDD;
  
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 12px);

}

.temp-container {
  background-color: aquamarine;
}

/* .temp-container {
    position: absolute;
    /* float: right; 
    bottom: 44px;
    height: 72px;
    width:24px;
    background-color: #115309;
    z-index: 10;
} */