/* Сброс, начальные значения*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: normal;
    color: #1b1c21;
  }
  
/* h1 {
  all: unset;
} */
  
body {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8; 
}


/* ========================
    Подключение шрифтов
    ======================== */
@font-face {
    font-family: 'TT Lakes';
  font-style: normal;
    font-weight: normal;
  src: url(../fonts/TTLakes/TTLakes-Regular.ttf); 
  }

@font-face {
    font-family: 'TT Lakes';
  font-style: normal;
    font-weight: bold;
    src: url(../fonts/TTLakes/TTLakes-Bold.ttf);   
  }

  @font-face {
    font-family: 'TT Lakes';
  font-style: italic;
    font-weight: normal;
    src: url(../fonts/TTLakes/TTLakes-Italic.ttf);   
  }

/* ========================
            Шапка
    ======================== */

.hdr-sect {  
  padding: 16px;
  background-color: #fff;
  white-space: normal;      
}

/* Заголовок (шапка) */
.hdr-sect__text {
  color: #7E7E82;    
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-transform: uppercase;
}


/* Кнопка выбора бренда */
.brand-btns__btn {
  width: 240px;
  height: 72px; 
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  border: 1px solid #ebebeb;    
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Кнопка "Показать всё"/"Скрыть" */
.show-hide-btn {
  display: none;
  color: #1B1C21;
  white-space: nowrap;
  margin: 0px 24px 24px 24px;
  background: none;
  border: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;


}

@media (min-width: 0px) and (max-width: 767px) {
  /* ========================
              Свайпер
    ======================== */

  .swiper {
    height: 132px;  
  }

  .swiper-wrapper {
    padding: 16px;    
    height:fit-content;
  }


  .swiper-slide {
      width: auto;
      min-width: 240px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDD;
    opacity: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #B5B6BC;
  }

  /* Блок-тень справа над слайдом */
  .swiper__slide-shadow {
    content: "";
    position: absolute;
    top: 16px;
    right: 0px;
    width: 24px;
    height: 72px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 1;  
  }
  
}

@media (min-width: 768px) {
  .brand-btns {
    overflow: hidden;
    height: 200px;    
  }  
  
  .brand-btns__container {
    padding: 24px;
    display: flex;    
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;    
  }  

  .brand-btns__btn {
    width: 224px;
  }

  .show-hide-btn {
    display: block;
  }
}

@media (min-width: 1120px) {
  .brand-btns__container {
    padding-right: 32px;
    padding-left: 32px;    
    column-gap: 32px;
  }
  
  .brand-btns__btn {
    width: 240px;
  }

  .show-hide-btn {
    margin-left: 32px;
  }
}